<h1>Bitte lege eine Runde an.</h1>

<%= simple_form_for @round, url: {action: "create"} do |f| %>
  <%= f.input :topic, label: 'Runden-Thema' %>
  <%= f.submit "Anlegen" %>
<% end %>


<h1>Nächsten Runden-Lead festlegen</h1>

<% @users = User.all %>
<ul>
  <% @users.each do |user| %>
    <li>Username: <%= user.username %><br>
    E-Mail: <%= user.email %><br>
    Runden-Lead: <%= user.round_lead %></li><br>
  <% end %>
</ul>
